.card
    background-color: #fff
    display: flex
    align-items: center
    width: 20rem
    flex-direction: column
    &_image
        flex: 1
    &_content
        padding: 16px
        color: #000

    &_title
        font-size: 16px
        font-weight: 500
        line-height: 1.5
        margin: 0 0 8px
